.mid {
    margin: 0 auto;
    width: 1000px;
}

#id-textarea-input {

}

.show {
    /*width: 100px;
    height: 100px;*/
    outline: 1px solid lightblue;
}

.song {
    outline: 1px solid red;
    display: inline-block;
}

.song+.song {
    margin-left: 20px;
}

.err {
    margin-top: 15px;
}
