.mid {
    margin: 0 auto;
    width: 1000px;
}

#id-textarea-input {

}

.showarea {
    /*outline: 1px solid lightblue;*/
}

.showsong {
    outline: 1px solid lightblue;
    margin-top: 20px;
}

.hided {
    display: none;
}

.song {
    outline: 1px solid red;
    display: inline-block;
}

.song+.song {
    margin-left: 20px;
}

.err {
    margin-top: 15px;
}

.yun {
    display: inline-block;
    position: absolute;
    top: 1px;
    left: 1px;
    outline: 1px solid lightblue;
    background-color: lightyellow;
}
